<div id = "search-page">
    <!-- will have the displayed textbooks in respect to search input -->
    <!-- Info included: Image, Title, Author, Price, Condition, City -->
    
    {{!-- <img> --}}
    <div id = "text-info">
        <p> Title: {{title}} </p>
        <p> Author: {{author}} </p>
        <p> Price: {{price}} </p>
        <p> Condition: {{condition}} </p>
        <p> City: {{location}} </p>
        <p> Date Listed: {{date}} </p>
    </div>
</div>

<button id = "add-cart"> Add to Cart </button>