<link rel="stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">

<style>
/* Applicable to all pages */

body {
    padding: 50px 100px;
}

#title {
    font-family: 'Josefin Sans', sans-serif, Arial;
    margin-bottom: 50px;
    font-size: 300%;
    text-align: center;
    background-color: #222E50;
    padding: 15px;
    width: 50vw;
    color: white;
    border-radius: 20px;
}

#header {
    float: right;
}
</style>

<div id = "header">
    {{!-- goes to login.handlebars --}}
    <a href = "/login"> Sign Up / Log In  </a> | 
    {{!-- goes to shopping.handlebars --}}
    <a href = "/cart"> Shopping Cart </a>
</div>

<h1 id = "title"> The Marketplace </h1>

{{!-- <div id = "search-page"> --}}
    <!-- will have the displayed textbooks in respect to search input -->
    <!-- Info included: Image, Title, Author, Price, Condition, City -->
    
    {{!-- <img> --}}
    <ul id = "text-info" style="list-style:none">
    {{#each books}}
        <li data-id="{{this.id}}" data-title="{{this.title}}" data-price="{{this.price}}">
            <img src="{{this.imageURL}}"> 
            <p> Title: {{this.title}} </p>
            <p> Author: {{this.authors}} </p>
            <p> Price: {{this.price}} </p>
            <p> Condition: {{this.condition}} </p>
            <button class="btn addToCart"> Add to Cart </button>
        </li>
    {{/each}}
    </ul>
{{!-- </div> --}}
{{!-- <button id = "add-cart"> Add to Cart </button> --}}
<button> <a href = "/buyer"> Keep Shopping </a></button>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
//=================
var API={
    deleteBook: function(id) {
    return $.ajax({
      url:"/api/books/"+id,
      type: "DELETE"
    });
  },
    getBooks: function() {
    return $.ajax({
      url: "/api/books",
      type: "GET"
    });
  },
  addToCart: function(){
   return $.ajax({
       url:"/api/carts",
       type:"POST"
   })
  }
};
// Remove the books from the db and move list to cart table
var handleCartBtnClick = function() {
        event.preventDefault();
    alert("add to cart btn clicked");
    var idToMoveToCart = $(this).parent().attr("data-id");
    var titleToMoveToCart = $(this).parent().attr("data-title");
    var priceToMoveToCart = $(this).parent().attr("data-price");

        alert(priceToMoveToCart)

    // get the id of clikced item and remove from search list
    var tempObj={
        title:titleToMoveToCart,
        price:priceToMoveToCart
    }

//console.log(tempObj);

 //alert(tempObj.title);
    //alert("this is the book to move to cart:  "+idToMoveToCart)
    // remove from list
       var currentURL = window.location.origin;

        $.post(currentURL+"/api/carts",tempObj, function (data) {
       // go to /api/sellers to see seller info added   
     //window.location.href = '/api/carts';
       console.log("seller added to the db")
   //============
   //API.deleteBook(idToMoveToCart);
  //location.reload();
   //============    
    });

  

};


$("#text-info").on("click",".addToCart",handleCartBtnClick);


</script>
