<link rel="stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">

<!-- Materialize: Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Materialize: Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>   

<style>
body {
    padding: 50px 100px;
}

.nav-wrapper {
    background-color: #222E50;
    position: fixed;
    width: 100%;
    font-family: 'Kosugi Maru', sans-serif, Arial;
}

.brand-logo {
    margin-left: 20px;
}

#header {
    float: right;
}

#search-input {
    width: 80%;
}

#search {
    margin-top: 50px;
    text-align: center;
}

#search-page {
    margin-top: 50px;
}

#keep-shopping a {
    text-decoration: none;
    color: white;
}

#keep-shopping a:hover {
    color: black;
}

#text-info {
    font-family: 'Kosugi Maru', sans-serif, Arial;
    margin-bottom: 50px;
}

img {
    margin-bottom: 20px;
}

</style>


  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Mine &amp; Yours</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/login">Sign Up / Log In</a></li>
        <li><a href="/cart">Shopping Cart</a></li>
      </ul>
    </div>
  </nav>

<div id = "search-page">
    <!-- will have the displayed textbooks in respect to search input -->
    <!-- Info included: Image, Title, Author, Price, Condition, City -->
    
    {{!-- <img> --}}
    <ul id = "text-info" style="list-style:none">
    {{#each books}}
        <li data-id="{{this.id}}">
            <img src="{{this.imageURL}}"> 
            <p> Title: {{this.title}} </p>
            <p> Author: {{this.authors}} </p>
            <p> Price: {{this.price}} </p>
            <p> Condition: {{this.condition}} </p>
        </li>
    {{/each}}
    </ul>
            <button id = "add-cart" class="btn addToCart"> Add to Cart </button>
            <button id = "keep-shopping" class = "btn"> <a href = "/buyer"> Keep Shopping </a></button>
{{!-- </div> --}}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
//=================
var API={
    deleteBook: function(id) {
    return $.ajax({
      url:"/api/books/"+id,
      type: "DELETE"
    });
  },
    getBooks: function() {
    return $.ajax({
      url: "/api/books",
      type: "GET"
    });
  },
  addToCart: function(){
   return $.ajax({
       url:"api/books/cart",
       type:"POST"
   })
  }
};
//====================  

// Remove the books from the db and move list to cart table
var handleCartBtnClick = function() {
    alert("add to cart btn clicked")
    // get the id of clicked item
  var idToDelete = $(this)
    .parent()
    .attr("data-id");
    alert("this is the book-id to be deleted:  "+ idToDelete)
    // remove from list
  API.addToCart(idToDelete).then(function() {
       window.location.href = '/api/books/cart'+idToDelete;
        //alert(window.location.href)

  });

};

$("#text-info").on("click", ".addToCart", handleCartBtnClick);
